# ignore data files
data/
raw/
batch_script/

# intermediate results
# easy recover by scripts
image/
intermediate/

# output html
*.html

# development
develop/

# other junk
*.swp
.DS_Store
.Rhistory

